@font-face {
  font-family: "iconfont-3156"; /* Project id 4921662 */
  src: url('iconfont.woff2?t=1747543775063') format('woff2'),
       url('iconfont.woff?t=1747543775063') format('woff'),
       url('iconfont.ttf?t=1747543775063') format('truetype');
}

.iconfont-3156 {
  font-family: "iconfont-3156" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangshangjiantoukuan-xianxing:before {
  content: "\e609";
}

.icon-xiangxiajiantoukuan-xianxing:before {
  content: "\e60a";
}

.icon-jiantouxia:before {
  content: "\e63b";
}

.icon-zhuanhuan:before {
  content: "\e61c";
}

.icon-jiantou:before {
  content: "\e6b5";
}

.icon-jiantou1:before {
  content: "\e616";
}

.icon-yincang:before {
  content: "\e60e";
}

.icon-zhuanhuan-transformation:before {
  content: "\e64d";
}

.icon-erweima:before {
  content: "\e60b";
}

.icon-kefu:before {
  content: "\e670";
}

.icon-kefu1:before {
  content: "\e636";
}

